

<p> <%= link_to "Courses", courses_path %> </p>

<h4>Lessons for <%= @course.title %></h4>
<% if @course.lessons.any? %>
  <ul>
    <% @course.lessons.each do |lesson| %>
      <li><%= lesson.name %></li>
      <% end %>
  </ul>
  <% else %>
    <p>There are no </p>
  <% end %>
